/* Font for LTR */
@font-face {
    font-family: 'Cairo';
    src: url('../assets/fonts/Cairo-Regular/Cairo-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/Cairo-Regular/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/Cairo-Regular/Cairo-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Cairo';
}

.main-header__upper-nav {
    padding: 10px;
    background-color: #c4398c;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.social-icons__icon {
    padding: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

.home-word {
    color: #c4398c !important;
}

.btn-custom {
    background-color: #c4398c;
    color: #fff;
    padding: 0.5rem 3rem;
}

.about-us__img {
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


/*  */
#owl-demo .item img{
    display: block;
    width: 100%;
    height: 100%;
}  